{% extends "base.html" %}
{% block content %}
<div class="form-container">
<h2>Connexion</h2>
{% if error %}
<p>{{ error }}</p>
{% endif %}
<form method="POST">
    <label>Email</label>
    <input type="email" name="email" placeholder="exemple@gmail.com"required>
    <label>Mot de passe</label>
    <input type="password" name="password" placeholder="Votre mot secret" required>
    <br><br>
    <button type="submit">Se connecter </button>
</form>
<p class="form-footer">
    Pas encore de compte ?
    <a href="/register">Inscrivez-vous</a>
</p>
</div>
{% endblock %}


